.contnav {
    width: 100%;
    overflow: hidden;
}

.container, .footer {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 3% auto;
    align-items: baseline;
    justify-content: left;
}

.container .title, .container .subtitle, .container .paragraph {
    margin: 0 10px;
}

.container .title, .container .subtitle {
    flex: 1;
}

.container .paragraph {
    flex: 2;
}


.footer {
    font-size: 12px;
}


@media(max-width: 733px) {
    .container, .footer {
        max-width: 400px;
        flex-direction: column;
    }
}