@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Space+Grotesk:wght@300..700&display=swap');

/* GLOBAL RESET OF SPACING  */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background-color: black;
    color: snow ;
    font-family: "Space Grotesk", sans-serif;
}

ul {
    list-style-type: none;
    list-style-position: outside;
    padding-inline-start: 0px;
}

a {
    text-decoration: none;
    color: snow;
}

a:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}

p, h1, h2 {
    margin: 10px 0;
}


h1 {
    font-size: 48px;
    font-weight: bold;
} 
h2 {
    font-size: 36px;
    font-weight: 100;
}

.contnav {
    width: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 15% auto;
    justify-content: space-between;
    align-items: baseline;
}

.container .title, .container .subtitle, .container .navmenu {
    margin: 0 10px;
}

.container .title, .container .subtitle {
    flex: 2;
}

.container .navmenu {
    font-size: 24px;
    flex: 1;
}


@media(max-width: 733px) {
    .container {
        max-width: 400px;
    }
}