body {
    font-family: "Zilla Slab", serif;
    background-color: black;
    color: white;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.1em;
}

ul {
    list-style-type: none;
    list-style-position: outside;
    margin-left: -2.5em
}

li {
    margin-top: 20px;
    font-size: 1.5em;
}

.subtitle {
    font-family: "Zilla Slab", serif;
    font-size: 1.5em;
}

.small-text {
    font-family: "Zilla Slab", serif;
    font-size: 1em;
}

.main-container {
    max-width: 96%;
    margin-left: 2%;
}


.header {
    width: 100%; 
    margin-top: 10%;
}

.cnt-container {
    display: flex;
    justify-content: left;
}

.col1 {
    flex: 1;

}

.col2 {
    flex: 6;
    padding-left: 5%; 
    margin-left: 5%;
    column-width: 20em;
    
}

.row {
    margin-top: 10px;
}

a {
    font-family: "Zilla Slab", serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

  /* Change the link color on hover */
a:hover {
        background-color: white;
        color: black;
}