@keyframes slidein {
    from {
        scale: 0.5;
        opacity: 0;
    }
    to {
        scale: 1;
        opacity: 1;
    }

}

iframe {
    width: 100%;
    margin: 20px 0;
    animation: slidein linear forwards;
    animation-timeline: view();
    animation-range: entry-crossing;
}

.contnav {
    width: 100%;
    overflow: hidden;
}

.container, .footer {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 3% auto;
    align-items: baseline;
    justify-content: left;
}

.container .title, .container .subtitle, .container .paragraph {
    margin: 0 10px;
}

.container .title, .container .subtitle {
    flex: 1;
}

.container .paragraph {
    flex: 2;
    
}


.footer {
    font-size: 12px;
}


@media(max-width: 900px) {
    .container, .footer {
        max-width: 400px;
        flex-direction: column;
    }
}